@import "tailwindcss";

:root {
  --light: #f1ece9;
  --dark: #141414;
  color: var(--dark);
}

* {
  font-size: 16px;
  font-family: var(--font-eb-garamond), "EB Garamond", serif;
  font-weight: 400;
  background-color: var(--light);
}

::selection {
  background-color: var(--dark);
  color: var(--light);
}
